<!DOCTYPE html>
{{define "base"}}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{template "title" .}}</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/" data-page="index">Главная</a></li>
      <li><a href="/main-menu" data-page="mainMenu">Меню</a></li>
      <li><a href="/menu-for-catering" data-page="menuForCatering">Кейтеринг</a></li>
      <li><a href="/about" data-page="about">О нас</a></li>
      <li><a href="/contacts" data-page="contact">Контакты</a></li>
    </ul>
  </nav>
</header>
<main>
  {{template "main" .}}
</main>
<footer>
  <p>&copy; 2024 Ваш сайт</p>
</footer>
<script src="/static/js/script.js" type="text/javascript"></script>
</body>
</html>
{{end}}