{{template "base" .}}

{{define "title"}}Создание категории меню{{end}}

{{define "main"}}
<h2>Create New Category</h2>
<form action="/admin/menu/category/create" method="POST">
    <label for="category">Выберите тип меню, к которому относится новая категория:</label>
    <select id="menuType" name="menuType" required>
        {{range .}}
        <option value="{{.ID}}">{{.Type}}</option>
        {{end}}
    </select>
    <label for="category">Введите название новой категории:</label>
    <input type="text" id="category" name="category" required>
    <input type="submit" value="Create">
</form>
{{end}}