{{template "base" .}}

{{define "title"}}Сотрудник{{end}}

{{define "main"}}
<h2>Edit Employee</h2>
<form action="#" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="John Doe" required>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="john.doe@example.com" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Save Changes">
</form>
{{end}}