{{template "base" .}}

{{define "title"}}Типы меню{{end}}

{{define "main"}}
<h2>Menu</h2>
<button onclick="window.location.href='/admin/menu/create'" method="GET">Добавить новый тип меню</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Наименование типа меню</th>
            <th>действия</th>
        </tr>
    </thead>
    <tbody>
        {{range .MenuTypes}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Type}}</td>
            <td>
                <button onclick="window.location.href='menu_type_view.html?id=1'">Просмотр</button>
                <button onclick="window.location.href='/admin/menu/edit/{{.ID}}'" method="GET">Редактирование</button>
                <button onclick="deleteItem('{{.ID}}')">Удаление</button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}

<script>
    function deleteItem(id) {
        if (confirm("Вы уверены, что хотите удалить этот элемент?")) {
            fetch(`/admin/menu/delete/${id}`, {
                method: 'DELETE'
            }).then(response => {
                if (response.ok) {
                    location.reload();
                } else {
                    alert('Failed to delete the item.');
                }
            }).catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
            });
        }
    }
</script>