{{template "base" .}}

{{define "title"}}{{.PageTitle}}{{end}}

{{define "main"}}
<h2>Menu</h2>
<button href="/admin/menu/create" method="GET">Добавить новый тип меню</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Наименование типа меню</th>
            <th>действия</th>
        </tr>
    </thead>
    <tbody>
        {{range .MenuTypes}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.Type}}</td>
            <td>
                <button onclick="window.location.href='menu_type_view.html?id=1'">Просмотр</button>
                <button onclick="window.location.href='menu_type_edit.html?id=1'">Редактирование</button>
                <button onclick="window.location.href='menu_type_delete.html?id=1'">Удаление</button>
            </td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}
